<?xml version="1.0"?>
<configuration>
  
    <system.webServer>
        <rewrite>
          <rules>
            <!--#   Toutes les autres URL vont être redirigées vers le fichier index.php.-->
            <rule name="Imported Rule 1" stopProcessing="true">
              <match url="^(.*)$" ignoreCase="false" />
              <conditions>
                <!--#   Empêche la visualisation de l'arborescence, n'a rien à voir avec le masquage du « index.php ».-->
                <!--#   Active le module de réécriture d'URL.-->
                <!--#-->
                <!--#   Fixe les règles de réécriture d'URL. Ici, nous utilisons une liste blanche.-->
                <!--#-->
                <!--#   Toutes les URL qui ne correspondent pas à ces masques sont réécrites.-->
                <add input="{R:1}" pattern="^(index\.php|assets/|robots\.txt)" ignoreCase="false" negate="true" />
              </conditions>
              <action type="Rewrite" url="index.php/{R:1}" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
  
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
</configuration>