@font-face/* Police d'écriture */
{
    font-family : "ChopinScript.otf";
    src : url('ChopinScript.otf');
}

/* ====================== CONTENU GENERAL ====================== */

body
{
	background-color: #383838;
}

/* ====================== BARRE DE MENU DEROULANT HORIZONTAL ====================== */

#main_menu, #main_menu ul/* Liste */ 
{
	padding:0;/* pas de marge intérieure */
	margin:0;/* ni extérieure */
	list-style:none;/* Supprime le style par défaut de la liste */
	text-align:left;/* Met à gauche le texte qui se trouve dans la liste */
	font-family:"ChopinScript.otf", arial;
}

#main_menu li
{
	display:inline-block;/* Place les liens du menu horizontalement */
	position:relative;
	border-radius:8px 8px 0 0;/* Arrondir les coins supérieurs des boutons du menu déroulant */
	text-align: center;
	background-color: #000;
}

#main_menu ul>li, #menu_bandmaster li /* Liste de chaque menu */
{
	/* Enlève ce comportement pour les liens du sous menu */
	display:inherit;/* Pour que les sous-menu se place verticalement sous les menus */
	border-radius:0;
}

#main_menu>li:nth-child(4), #main_menu>li:last-child
{
	float: right;
	margin-right: 5px;/* Espace entre "Connexion" et "S'inscrire" */
}

/* Dégradé pour chaque lien dans le menu principal */
#main_menu>li:first-child, #main_menu>li:nth-child(2), 
#main_menu>li:nth-child(3),
#main_menu>li:nth-child(4), #main_menu>li:last-child
{
	background-color: #000;
	background-image:-webkit-linear-gradient(top, #000 0%, #383838 100%);
	background-image:linear-gradient(to bottom, #000 0%, #383838 100%);
}

/* =================AAAAAAAAAAAAAAAAA========================== */
#main_menu ul/*, #main_menu li ul*/
{
	position:absolute;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .7s all .3s;
	-webkit-transition: .7s all .3s;
	transition: .7s all .3s;
}
/* =========================================== */

#main_menu a/* Les onglets du menu principal */
{
	text-decoration:none;
	display:block;
	padding:8px 32px;
	color:#fff;/* Blanc */
}

/* background des liens menus et sous menus au survol */
#main_menu li:first-child:hover, #main_menu li:first-child li:hover,
#main_menu li:nth-child(2):hover, #main_menu li:nth-child(2) li:hover,
#main_menu li:nth-child(3):hover, #main_menu li:nth-child(3) li:hover,
#main_menu li:nth-child(4):hover, #main_menu li:last-child:hover/* Colorie en blanc les liens "Connexion" et "s'inscrire" dans le menu, au survol de la souris */
{
	background:#FFF;/* Blanc */
}

#main_menu li:hover li a/* Faire apparaitre les liens des sous-menu en blanc, quand on survol le lien du menu principal correspondant */
{
	color: #FFF;/* Blanc */
}

#main_menu li:hover a, #main_menu li li:hover a/* Sélection des liens du menu principal ou dans un sous-menu */
{
	color:#000;/* Noir */
}

#main_menu li:hover ul
{
	max-height:50em;/* Hauteur total des sous-menu au survol de la souris */
}

#main_menu li li:last-child, #main_menu li li:last-child:hover,
#menu_orchestra li:last-child, #menu_bandmaster li:last-child
{
	border-radius:0 0 8px 8px;/* Le dernier élément (de chaque menu déroulant) a les coins inférieurs arrondis */
}

/* ====================== MENU DES CHEFS D'ORCHESTRE ====================== */

#menu_bandmaster li 
{
	display: inline;
	font-size: 12px;/* Pour réduire la taille des mots clés trop longs */
	font-weight: bold;
	margin: auto;
	position: relative;
}

/* ====================== IMAGE ====================== */

img
{
	border:0
}

img
{
	max-width:100%!important
}

/* ====================== SECTION ====================== */

section
{
    color: white;
}

.musician_info
{
    display: inline-block;
}

.musician_info img
{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

input
{
    color: black;
}