@font-face/* Police d'Ã©criture */
{
    font-family : "ChopinScript.otf";
    src : url('../fonts/ChopinScript.otf');
}

/* ====================== CONTENU GENERAL ====================== */

body
{
	background-color: #383838;
    /*background:#313131 url(../img/fond-menu.png) no-repeat top center;*/
	font-family:"ChopinScript.otf", arial, sans-serif;
}

li
{
	padding:8px 32px;
}

#container, footer
{
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(#ffffff 1%,#eaeaea 100%);

	position: relative;
    padding: 15px 15px 35px 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
	border-radius:10px 10px;
	text-align: center;
	z-index: -1;
}

/* ====================== BARRE DE MENU DEROULANT HORIZONTAL ====================== */

#main_menu
{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}


#main_menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}

#main_menu a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#main_menu li:hover > a
{
	color: #fafafa;
}

#main_menu li:hover > ul
{
	display: block;
}

/* sous-menu */

#main_menu ul
{
    width: 65px;
    list-style: none;
    margin-left: 25px;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}


<!-- SÃ©lection sous-menu -->
#main_menu ul li
{
	width: 130px;
    float: left;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}



#main_menu ul a
{    
	height: 10px;
	width: 130px;
	height: 3px;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}


#main_menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 25px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}




/* Clear floated elements */
#main_menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

table{
   width: 25em;
   border-collapse: separate;
   border-spacing: 2px;
   caption-side: bottom;
   
}

/* Tableau ( pour le panier )*/

td, th {
   padding: 6px 12px;
}

th {
   text-align: left;
}
td:last-child, th:last-child{
   text-align : right;
}
table caption{
   color:#00F;
   font-style: italic;
   padding: 10px;
   border-bottom: 1 px solid #ccc;
}


tr:nth-child(odd){
   background: gray;
}
tr:nth-child(even){
   background: gray;
}
tr:first-child{
   background: gray;
   color: white;
}

table td:empty{
   background: white;
}


table td:empty, table td:empty:hover{
  background: #B8B9B9;
}

table tr + tr:hover{
  background: #B8B9B9;
  color:black;
}
table tr+tr td:hover, table tr+tr th:hover{
  background: #DADBDB;
}

/* ====================== IMAGE ====================== */

img
{
	border:0
}

img
{
	max-width:100%!important
}

/* ====================== SECTION ====================== */

section
{
    color: white;
}

.musician_info
{
    display: inline-block;
}

.musician_info img
{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

input
{
    color: black;
}